---

- name: Install MariaDB
  yum: name={{ item }} state=latest
  with_items:
    - mariadb
    - mariadb-server
    - MySQL-python

- name: Start and enable MariaDB
  service:
    name: mariadb
    enabled: yes
    state: started

# We use two steps to setup root password. In the first one we setup only for localhost.
# on the second we setup for 127.0.0.1 & ::1
# We do that in order the role/playbook run under ansible/localhost
- name: Set root Password for localhost
  mysql_user:
    name: root
    host: "{{ item }}"
    password: "{{ mysql_root_password }}"
    priv: "*.*:ALL,GRANT"
    state: present
  with_items:
    - localhost
  notify:
    - Flush privileges

- name: Configure MySql for easy access as root user
  template:
    src: .my.cnf.tpl
    dest: ~/.my.cnf
    owner: root
    group: root
    mode: 0600

- name: Set root Password for 127.0.0.1 & ::1
  mysql_user:
    name: root
    host: "{{ item }}"
    password: "{{ mysql_root_password }}"
    priv: "*.*:ALL,GRANT"
    state: present
  with_items:
    - 127.0.0.1
    - ::1
  notify:
    - Flush privileges

- name: ensure anonymous users are not in the database
  mysql_user: name='' host_all=yes state=absent

- name: remove the test database
  mysql_db: name=test state=absent
  notify:
    - restart mariadb

# TODO: convert to Ansible mysql module
- name: Disallow root login remotely
  command: 'mysql -ne "{{ item }}"'
  with_items:
    - DELETE FROM mysql.user WHERE User='root' AND Host NOT IN ('localhost', '127.0.0.1', '::1')
  changed_when: False

- name: Edit master my.cnf (max_allowed_packet)
  ini_file:
    dest: /etc/my.cnf
    section: mysqld
    option: max_allowed_packet
    value: 64M
    backup: yes
  notify:
    - restart mariadb

- name: Edit master my.cnf (innodb_large_prefix)
  ini_file:
    dest: /etc/my.cnf
    section: mysqld
    option: innodb_large_prefix
    value: true
    backup: yes
  notify:
    - restart mariadb

- name: Edit master my.cnf (innodb_file_format)
  ini_file:
    dest: /etc/my.cnf
    section: mysqld
    option: innodb_file_format
    value: barracuda
    backup: yes
  notify:
    - restart mariadb

- name: Edit master my.cnf (innodb_file_per_table)
  ini_file:
    dest: /etc/my.cnf
    section: mysqld
    option: innodb_file_per_table
    value: true
    backup: yes
  notify:
    - restart mariadb
